@model Çizgi_School_Project.Models.TblStudent
@{
    ViewBag.Title = "UpdateStudent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Öğrenci Güncelleme Sayfası</h2>
<br />
<form method="post">
    <label>Öğrenci ID</label>
    @Html.TextBoxFor(x => x.StudentId, new { @class = "form-control" })
    <br />
    <label>Öğrenci Adı</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label>Öğenci Soyadı</label>
    @Html.TextBoxFor(x => x.SurName, new { @class = "form-control" })
    <br />
    <label>Öğrenci Numarası</label>
    @Html.TextBoxFor(x => x.Number, new { @class = "form-control" })
    <br />
    <label>Öğrenci Görsel</label>
    @Html.TextBoxFor(x => x.İmage, new { @class = "form-control" })
    <br />
    <label>Öğrenci Mail</label>
    @Html.TextBoxFor(x => x.PhoneNumbar, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-succes">Güncelle</button>
</form>
